
// global
@import 'global/normalize.scss';
@import 'global/variables.scss';

// mixin
@mixin md {
  @media (max-width: 700px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'MuseoModerno', "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

img {
  width: 100%;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}


// @import 'block/*.scss';  all
@import 'block/btn.scss';
@import 'block/promo.scss';
@import 'block/header.scss';
@import 'block/advantages.scss';
@import 'block/consultation.scss';
@import 'block/form.scss';
@import 'block/slider.scss';
@import 'block/catalog.scss';