:root {
  --text-color-basic: #ffffff;
  --text-title-basic: #0D0D0D;
  --text-catalog-basic: #6B6B6B;;
  --text-rare: #FF0000;
  --btn-color-basic: #C70101;
  --bg-color-basic: #F6F6F6;
  --bg-color-slider: #ffffff;
  --border-catalog-basic: #0D0D0D;
  --link-color-basic: #C70101;
  --price-color-basic: #555555;
}