.link {
  color: rgb(128, 80, 173);
}

.logo {
  background-color: rgb(171, 115, 47);
  padding-top: 50px;
  padding-bottom: 20px;
}

footer {
  @include md {
    background-color: rgb(40, 69, 45);
  }
}