section.catalog 
  .container
    h2.catalog__title Каталог пульсометров
    ul.catalog__list
      li.catalog__item.catalog__item--active
        div Для фитнеса
      li.catalog__item 
        div для бега
      li.catalog__item 
        div для триатлона
    ul.catalog__list-shop
      li.catalog__item-shop 
        .catalog__img 
          img(src="img/photo.png", alt="1")
        h3.catalog__subtitle Пульсометр Polar FT1
        .catalog__text Для первых шагов в тренировках, основанных на сердечном ритме
        a.catalog__link ПОДРОБНЕЕ
        .catalog__inner 
          ul.catalog__prices
            li.catalog__old-price 4 750 руб.
            li.catalog__new-price 4 500 руб.
          button.btn.catalog__btn КУПИТЬ
      li.catalog__item-shop 
        .catalog__img 
          img(src="img/photo.png", alt="1")
        h3.catalog__subtitle Пульсометр Polar FT1
        .catalog__text Для первых шагов в тренировках, основанных на сердечном ритме
        a.catalog__link ПОДРОБНЕЕ
        .catalog__inner 
          ul.catalog__prices
            li.catalog__old-price 4 750 руб.
            li.catalog__new-price 4 500 руб.
          button.btn.catalog__btn КУПИТЬ
      li.catalog__item-shop 
        .catalog__img 
          img(src="img/photo.png", alt="1")
        h3.catalog__subtitle Пульсометр Polar FT1
        .catalog__text Для первых шагов в тренировках, основанных на сердечном ритме
        a.catalog__link ПОДРОБНЕЕ
        .catalog__inner 
          ul.catalog__prices
            li.catalog__old-price 4 750 руб.
            li.catalog__new-price 4 500 руб.
          button.btn.catalog__btn КУПИТЬ
      li.catalog__item-shop 
        .catalog__img 
          img(src="img/photo.png", alt="1")
        h3.catalog__subtitle Пульсометр Polar FT1
        .catalog__text Для первых шагов в тренировках, основанных на сердечном ритме
        a.catalog__link ПОДРОБНЕЕ
        .catalog__inner 
          ul.catalog__prices
            li.catalog__old-price 4 750 руб.
            li.catalog__new-price 4 500 руб.
          button.btn.catalog__btn КУПИТЬ
