section.consultation
  .container
    h2.consultation__title Получите бесплатную консультацию <br> по подбору пульсометра
    .consultation__text Просто заполните форму заявки <br> и мы перезвоним вам в течении 10 минут
    include form