footer.footer 
  .container 
    .footer__block
      .footer__text Москва, Мясницкий проезд, д.3с1
      a(href="tel:+74999228974").footer__phone 8 (499) 922-89-74 
      ul.footer__list
        li.footer__item 
          img(src="img/1.png", alt="1")
        li.footer__item 
          img(src="img/2.png", alt="2")
        li.footer__item 
          img(src="img/3.png", alt="3")
