form(action="#", method="get").form.form__mt
  label(for="name").form__label
    input(type="text" name="name" placeholder="Ваше имя").form__input
  label(for="phone").form__label
    input(type="number" name="phone" placeholder="Ваш телефон").form__input
  label(for="email").form__label
    input(type="email" name="email" placeholder="Ваш E-mail").form__input
  button(type="submit").btn.form__btn заказать кОНСУЛЬТАЦИЮ