header.header
  a.header__logo(href="#")
    img(src="img/logo.png", alt="logo")
  .header__info Официальный представитель
    span.header__info--text Garmin, Polar, Suunto
  .header__inner 
    a.header__tel(href="tel:+74999228974") +7 (499) 922-89-74
    button.btn заказать звонок