section.promo
  .container
    include header
    .promo__inner 
      h1.promo__title Подбор пульсометра
      .promo__subtitle с учётом Вашего уровня подготовки
      ul.promo__list 
        li.promo__item 
          img(src="img/timer.svg", alt="time")
          .promo__text Время подбора: 10 минут
        li.promo__item 
          img(src="img/hand.svg", alt="time")
          .promo__text Бесплатная доставка
        li.promo__item 
          img(src="img/messages-64.svg", alt="time")
          .promo__text Ответим на все вопросы
      button.btn.btn__promo заказать кОНСУЛЬТАЦИЮ
      a.promo__link(href="#") или<span>ПЕРЕЙТИ В КАТАЛОГ</span>


