section.slider 
  .container 
    .slider__list
      .slider__item 
        img(src="img/slider1.png", alt="1")
      .slider__item 
        img(src="img/slider2.png", alt="2")
      .slider__item 
        img(src="img/slider3.png", alt="3")